@import "tailwindcss";

@layer properties;
@layer theme, base, components, utilities;
@layer theme {
  :root, :host {
    --font-sans: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
      "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
      "Courier New", monospace;
    --color-blue-500: oklch(62.3% 0.214 259.815);
    --color-blue-600: oklch(54.6% 0.245 262.881);
    --color-blue-800: oklch(42.4% 0.199 265.638);
    --color-blue-900: oklch(37.9% 0.146 265.522);
    --color-blue-950: oklch(28.2% 0.091 267.935);
    --color-blue-tron: oklch(88.716% 0.09711 208.766);
    --color-blue-deep-tron: oklch(19.533% 0.03365 208.734);
    --spacing: 0.25rem;
    --radius-xl: 0.75rem;
    --default-font-family: var(--font-sans);
    --default-mono-font-family: var(--font-mono);
    --animate-spin-slow: spin 60s linear infinite;
    --animate-infinite-scroll: 25s linear infinite;
    @keyframes spin {
          0% { transform: rotate(0deg); }
          100% { transform: rotate(360deg); }
    }
    @keyframes infinite-scroll {
          0% { transform: 'translateX(0)' }
          100% { transform: 'translateX(-100%)' }
    }
  }
}

@font-face {
    font-family: 'nb_architektbold';
    src: url('../../fonts/nb_architekt_bold-webfont.eot');
    src: url('../../fonts/nb_architekt_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/nb_architekt_bold-webfont.woff2') format('woff2'),
         url('../../fonts/nb_architekt_bold-webfont.woff') format('woff'),
         url('../../fonts/nb_architekt_bold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  
  }
  
  
  
  
  @font-face {
    font-family: 'nb_architektlight';
    src: url('../../fonts/nb_architekt_light-webfont.eot');
    src: url('../../fonts/nb_architekt_light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/nb_architekt_light-webfont.woff2') format('woff2'),
         url('../../fonts/nb_architekt_light-webfont.woff') format('woff'),
         url('../../fonts/nb_architekt_light-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  
  }
  
  
  
  
  @font-face {
    font-family: 'nb_architektregular';
    src: url('../../fonts/nb_architekt_regular-webfont.eot');
    src: url('../../fonts/nb_architekt_regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/nb_architekt_regular-webfont.woff2') format('woff2'),
         url('../../fonts/nb_architekt_regular-webfont.woff') format('woff'),
         url('../../fonts/nb_architekt_regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  
  }

  @layer theme {
    :root, :host {
      --font-sans: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
        "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
      --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
        "Courier New", monospace;
      --color-gray-600: oklch(44.6% 0.03 256.802);
      --color-gray-950: oklch(13% 0.028 261.692);
      --spacing: 0.25rem;
      --font-weight-normal: 400;
      --radius-md: 0.375rem;
      --default-font-family: "nb_architektregular";
      --default-mono-font-family: var(--font-mono);
    }
  }

  h1 {
    color: var(--color-blue-tron);
    text-shadow: black;
  }

  .vignette {
  background-size: cover;
  background-position: center center;
  box-sizing: border-box;
  box-shadow: inset 0 0 10px 10px;
}

.color-blue-tron {
  background-color: var(--color-blue-tron);
}

.border-blue-tron {
  border-color: var(--color-blue-tron);
}

.bg-tron {
  background-color: var(--color-blue-tron);
}

.bg-deep-tron {
  background-color: var(--color-blue-deep-tron);
}

.hover\:text-tron {
    &:hover {
      @media (hover: hover) {
        color: var(--color-blue-tron);
      }
    }
}

.animate-spin-slow {
  animation: var(--animate-spin-slow);
}

.animate-infinite-scroll {
  animation: var(--animate-infinite-scroll);
}

.focus\:text-tron {
  &:focus {
    color: var(--color-blue-tron);
  }
}