{%load static%}

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://unpkg.com/unpoly@3/unpoly.min.css">
    <script src="https://unpkg.com/unpoly@3/unpoly.min.js"></script>
    <script>
      // Configure main fragment target to #content (instead of default <body>)
      up.fragment.config.mainTargets = ['#content'];

      // Configure cross-fade transition (old fades out while new fades in)
      up.fragment.config.navigateOptions.transition = 'cross-fade';
      up.fragment.config.navigateOptions.duration = 300;
      up.fragment.config.navigateOptions.easing = 'ease-in-out';
    </script>

    <link rel="stylesheet" href={%static './dist/styles.css'%}/>
    <title>{% block title %}thecafedisco{% endblock %}</title>
    <link rel="icon" type="image/x-icon" href={%static './images/alt-cd-favicon.ico'%}/>
</head>

<body>
    {% comment %} ==================== CONFIGURE BACKGROUND SCROLLER TEXT HERE ==================== {% endcomment %}
    {% comment %} To customize: Simply change the text in quotes below {% endcomment %}

    {% comment %} Background Scroller Layer {% endcomment %}
    <div id="persistent-background-wrapper" style="position: fixed; top: 0; left: 0; right: 0; bottom: 0; z-index: 0; pointer-events: none;" up-keep>
        <div class="bg-scroller-container">

        {% comment %} Row 1 - Scrolls Right {% endcomment %}
        <div class="bg-scroller-row">
            <div class="animate-scroll-right items-center whitespace-nowrap">
                {% for i in "xxxxxxxxxxxxxxxxxxxxxxxx" %}<span class="bg-scroller-text mx-8">EDDIE GIBBONS</span>{% endfor %}
            </div>
        </div>

        {% comment %} Row 2 - Scrolls Left {% endcomment %}
        <div class="bg-scroller-row">
            <div class="animate-scroll-left items-center whitespace-nowrap">
                {% for i in "xxxxxxxxxxxxxxxxxxxxxxxx" %}<span class="bg-scroller-text mx-8">DANIEL ROSENFELD</span>{% endfor %}
            </div>
        </div>

        {% comment %} Row 3 - Scrolls Right {% endcomment %}
        <div class="bg-scroller-row">
            <div class="animate-scroll-right items-center whitespace-nowrap">
                {% for i in "xxxxxxxxxxxxxxxxxxxxxxxx" %}<span class="bg-scroller-text mx-8">FRANKIE KNUCKLES</span>{% endfor %}
            </div>
        </div>

        {% comment %} Row 4 - Scrolls Left {% endcomment %}
        <div class="bg-scroller-row">
            <div class="animate-scroll-left items-center whitespace-nowrap">
                {% for i in "xxxxxxxxxxxxxxxxxxxxxxxx" %}<span class="bg-scroller-text mx-8">ALEX BEACHUM</span>{% endfor %}
            </div>
        </div>

        {% comment %} Row 5 - Scrolls Right {% endcomment %}
        <div class="bg-scroller-row">
            <div class="animate-scroll-right items-center whitespace-nowrap">
                {% for i in "xxxxxxxxxxxxxxxxxxxxxxxx" %}<span class="bg-scroller-text mx-8">CHRISTOPHER PAOLINI</span>{% endfor %}
            </div>
        </div>

        {% comment %} Row 6 - Scrolls Left {% endcomment %}
        <div class="bg-scroller-row">
            <div class="animate-scroll-left items-center whitespace-nowrap">
                {% for i in "xxxxxxxxxxxxxxxxxxxxxxxx" %}<span class="bg-scroller-text mx-8">KEVIN PARKER</span>{% endfor %}
            </div>
        </div>

        {% comment %} Row 7 - Scrolls Right {% endcomment %}
        <div class="bg-scroller-row">
            <div class="animate-scroll-right items-center whitespace-nowrap">
                {% for i in "xxxxxxxxxxxxxxxxxxxxxxxx" %}<span class="bg-scroller-text mx-8">MARK BAGLEY</span>{% endfor %}
            </div>
        </div>

        {% comment %} Row 8 - Scrolls Left {% endcomment %}
        <div class="bg-scroller-row">
            <div class="animate-scroll-left items-center whitespace-nowrap">
                {% for i in "xxxxxxxxxxxxxxxxxxxxxxxx" %}<span class="bg-scroller-text mx-8">EDISON GIBBONS</span>{% endfor %}
            </div>
        </div>

        {% comment %} Row 9 - Scrolls Right {% endcomment %}
        <div class="bg-scroller-row">
            <div class="animate-scroll-right items-center whitespace-nowrap">
                {% for i in "xxxxxxxxxxxxxxxxxxxxxxxx" %}<span class="bg-scroller-text mx-8">CHRISTOPHER NOLAN</span>{% endfor %}
            </div>
        </div>

        {% comment %} Row 10 - Scrolls Left {% endcomment %}
        <div class="bg-scroller-row">
            <div class="animate-scroll-left items-center whitespace-nowrap">
                {% for i in "xxxxxxxxxxxxxxxxxxxxxxxx" %}<span class="bg-scroller-text mx-8">JOHN WILLIAMS</span>{% endfor %}
            </div>
        </div>

        {% comment %} Row 11 - Scrolls Right {% endcomment %}
        <div class="bg-scroller-row">
            <div class="animate-scroll-right items-center whitespace-nowrap">
                {% for i in "xxxxxxxxxxxxxxxxxxxxxxxx" %}<span class="bg-scroller-text mx-8">THOMAS BANGALTER</span>{% endfor %}
            </div>
        </div>

        {% comment %} Row 12 - Scrolls Left {% endcomment %}
        <div class="bg-scroller-row">
            <div class="animate-scroll-left items-center whitespace-nowrap">
                {% for i in "xxxxxxxxxxxxxxxxxxxxxxxx" %}<span class="bg-scroller-text mx-8">STEVE JOBS</span>{% endfor %}
            </div>
        </div>

        {% comment %} Row 13 - Scrolls Right {% endcomment %}
        <div class="bg-scroller-row">
            <div class="animate-scroll-right items-center whitespace-nowrap">
                {% for i in "xxxxxxxxxxxxxxxxxxxxxxxx" %}<span class="bg-scroller-text mx-8">JENS BERGENSTEN</span>{% endfor %}
            </div>
        </div>

        {% comment %} Row 14 - Scrolls Left {% endcomment %}
        <div class="bg-scroller-row">
            <div class="animate-scroll-left items-center whitespace-nowrap">
                {% for i in "xxxxxxxxxxxxxxxxxxxxxxxx" %}<span class="bg-scroller-text mx-8">PAUL MCCARTNEY</span>{% endfor %}
            </div>
        </div>

        {% comment %} Row 15 - Scrolls Right {% endcomment %}
        <div class="bg-scroller-row">
            <div class="animate-scroll-right items-center whitespace-nowrap">
                {% for i in "xxxxxxxxxxxxxxxxxxxxxxxx" %}<span class="bg-scroller-text mx-8">CRISTIANO RONALDO</span>{% endfor %}
            </div>
        </div>

        </div>
    </div>

    {% comment %} Menu Bar - Kept Persistent {% endcomment %}
    <div id="menu-bar" class="p-1" style="position: relative; z-index: 2; background-color: oklch(19.533% 0.03365 208.734 / 0.95);" up-keep>
        <div class="flex justify-center h-full m-5" style="background-color: #1a1a1a; border: 3px solid oklch(88.716% 0.09711 208.766); border-radius: 9999px; position: relative; padding: 0.375rem;">
            <div class="flex items-center justify-between w-full" style="padding: 0.5rem 2rem;">
                {% comment %} Main Menu - Left Side {% endcomment %}
                <div class="flex justify-start">
                    <a href="/" class="menu-button m-2 p-2 rounded-xl" up-follow>Home</a>
                    <a href="/music/" class="menu-button m-2 p-2 rounded-xl" up-follow>Music</a>
                    <a href="/videos/" class="menu-button m-2 p-2 rounded-xl" up-follow>Videos</a>
                    <a href="/stream/" class="menu-button m-2 p-2 rounded-xl" up-follow>Stream</a>
                </div>
                {% comment %} Logo - Absolutely Centered {% endcomment %}
                <div style="position: absolute; left: 50%; transform: translateX(-50%);">
                    <img src={%static './images/alt-cd-apple-touch-icon.png' %} class="w-20 h-20 animate-spin-slow">
                </div>
                {% comment %} Login - Right Side {% endcomment %}
                <div class="flex justify-end">
                    <a href="/login" class="menu-button m-2 p-2 rounded-xl" up-follow>Login</a>
                </div>
            </div>
        </div>
    </div>

    {% comment %} Main Content Layer (above background) {% endcomment %}
    <div class="min-h-screen relative" style="z-index: 1; background-color: oklch(19.533% 0.03365 208.734 / 0.95);">
        <div id="content">
            {%block content%}
            {%endblock%}
        </div>
    </div>
</body>
</html>