{%load static%}

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href={%static './dist/styles.css'%}/>
    <title>{% block title %}thecafedisco{% endblock %}</title>
    <link rel="icon" type="image/x-icon" href={%static './images/alt-cd-favicon.ico'%}/>
</head>

<body>
    {% comment %} ==================== CONFIGURE BACKGROUND SCROLLER TEXT HERE ==================== {% endcomment %}
    {% comment %} To customize: Simply change the text in quotes below {% endcomment %}

    {% comment %} Background Scroller Layer {% endcomment %}
    <div class="bg-scroller-container">

        {% comment %} Row 1 - Scrolls Right {% endcomment %}
        <div class="bg-scroller-row">
            <div class="animate-scroll-right items-center whitespace-nowrap">
                {% for i in "xxxxxxxxxxxxxxxxxxxxxxxx" %}<span class="bg-scroller-text mx-8">EDDIE GIBBONS</span>{% endfor %}
            </div>
        </div>

        {% comment %} Row 2 - Scrolls Left {% endcomment %}
        <div class="bg-scroller-row">
            <div class="animate-scroll-left items-center whitespace-nowrap">
                {% for i in "xxxxxxxxxxxxxxxxxxxxxxxx" %}<span class="bg-scroller-text mx-8">DANIEL ROSENFELD</span>{% endfor %}
            </div>
        </div>

        {% comment %} Row 3 - Scrolls Right {% endcomment %}
        <div class="bg-scroller-row">
            <div class="animate-scroll-right items-center whitespace-nowrap">
                {% for i in "xxxxxxxxxxxxxxxxxxxxxxxx" %}<span class="bg-scroller-text mx-8">FRANKIE KNUCKLES</span>{% endfor %}
            </div>
        </div>

        {% comment %} Row 4 - Scrolls Left {% endcomment %}
        <div class="bg-scroller-row">
            <div class="animate-scroll-left items-center whitespace-nowrap">
                {% for i in "xxxxxxxxxxxxxxxxxxxxxxxx" %}<span class="bg-scroller-text mx-8">ALEX BEACHUM</span>{% endfor %}
            </div>
        </div>

        {% comment %} Row 5 - Scrolls Right {% endcomment %}
        <div class="bg-scroller-row">
            <div class="animate-scroll-right items-center whitespace-nowrap">
                {% for i in "xxxxxxxxxxxxxxxxxxxxxxxx" %}<span class="bg-scroller-text mx-8">CHRISTOPHER PAOLINI</span>{% endfor %}
            </div>
        </div>

        {% comment %} Row 6 - Scrolls Left {% endcomment %}
        <div class="bg-scroller-row">
            <div class="animate-scroll-left items-center whitespace-nowrap">
                {% for i in "xxxxxxxxxxxxxxxxxxxxxxxx" %}<span class="bg-scroller-text mx-8">KEVIN PARKER</span>{% endfor %}
            </div>
        </div>

        {% comment %} Row 7 - Scrolls Right {% endcomment %}
        <div class="bg-scroller-row">
            <div class="animate-scroll-right items-center whitespace-nowrap">
                {% for i in "xxxxxxxxxxxxxxxxxxxxxxxx" %}<span class="bg-scroller-text mx-8">MARK BAGLEY</span>{% endfor %}
            </div>
        </div>

        {% comment %} Row 8 - Scrolls Left {% endcomment %}
        <div class="bg-scroller-row">
            <div class="animate-scroll-left items-center whitespace-nowrap">
                {% for i in "xxxxxxxxxxxxxxxxxxxxxxxx" %}<span class="bg-scroller-text mx-8">EDISON GIBBONS</span>{% endfor %}
            </div>
        </div>

        {% comment %} Row 9 - Scrolls Right {% endcomment %}
        <div class="bg-scroller-row">
            <div class="animate-scroll-right items-center whitespace-nowrap">
                {% for i in "xxxxxxxxxxxxxxxxxxxxxxxx" %}<span class="bg-scroller-text mx-8">CHRISTOPHER NOLAN</span>{% endfor %}
            </div>
        </div>

        {% comment %} Row 10 - Scrolls Left {% endcomment %}
        <div class="bg-scroller-row">
            <div class="animate-scroll-left items-center whitespace-nowrap">
                {% for i in "xxxxxxxxxxxxxxxxxxxxxxxx" %}<span class="bg-scroller-text mx-8">JOHN WILLIAMS</span>{% endfor %}
            </div>
        </div>

        {% comment %} Row 11 - Scrolls Right {% endcomment %}
        <div class="bg-scroller-row">
            <div class="animate-scroll-right items-center whitespace-nowrap">
                {% for i in "xxxxxxxxxxxxxxxxxxxxxxxx" %}<span class="bg-scroller-text mx-8">THOMAS BANGALTER</span>{% endfor %}
            </div>
        </div>

        {% comment %} Row 12 - Scrolls Left {% endcomment %}
        <div class="bg-scroller-row">
            <div class="animate-scroll-left items-center whitespace-nowrap">
                {% for i in "xxxxxxxxxxxxxxxxxxxxxxxx" %}<span class="bg-scroller-text mx-8">STEVE JOBS</span>{% endfor %}
            </div>
        </div>

        {% comment %} Row 13 - Scrolls Right {% endcomment %}
        <div class="bg-scroller-row">
            <div class="animate-scroll-right items-center whitespace-nowrap">
                {% for i in "xxxxxxxxxxxxxxxxxxxxxxxx" %}<span class="bg-scroller-text mx-8">JENS BERGENSTEN</span>{% endfor %}
            </div>
        </div>

        {% comment %} Row 14 - Scrolls Left {% endcomment %}
        <div class="bg-scroller-row">
            <div class="animate-scroll-left items-center whitespace-nowrap">
                {% for i in "xxxxxxxxxxxxxxxxxxxxxxxx" %}<span class="bg-scroller-text mx-8">PAUL MCCARTNEY</span>{% endfor %}
            </div>
        </div>

        {% comment %} Row 15 - Scrolls Right {% endcomment %}
        <div class="bg-scroller-row">
            <div class="animate-scroll-right items-center whitespace-nowrap">
                {% for i in "xxxxxxxxxxxxxxxxxxxxxxxx" %}<span class="bg-scroller-text mx-8">CRISTIANO RONALDO</span>{% endfor %}
            </div>
        </div>

    </div>

    {% comment %} Main Content Layer (above background) {% endcomment %}
    <div class="min-h-screen relative" style="z-index: 1; background-color: oklch(19.533% 0.03365 208.734 / 0.95);">
        <div class="bg-transparent p-1">
            <div class="flex justify-center h-full m-5 p-3" style="background-color: #1a1a1a; border: 3px solid oklch(88.716% 0.09711 208.766); border-radius: 9999px; position: relative;">
                <div class="flex items-center justify-between w-full" style="padding: 0.5rem 2rem;">
                    {% comment %} Main Menu - Left Side {% endcomment %}
                    <div class="flex justify-start">
                        <a href="/" class="m-2 p-5 rounded-xl hover:bg-black hover:text-white hover:outline-4 hover:outline-black focus:underline focus:outline-black focus:outline-4 focus:text-tron" style="color: oklch(88.716% 0.09711 208.766);">Home</a>
                        <a href="/music/" class="m-2 p-5 rounded-xl hover:bg-black hover:text-white hover:outline-4 hover:outline-black focus:underline focus:outline-black focus:outline-4  focus:text-tron" style="color: oklch(88.716% 0.09711 208.766);">Music</a>
                        <a href="/videos/" class="m-2 p-5 rounded-xl hover:bg-black hover:text-white hover:outline-4 hover:outline-black focus:underline focus:outline-black focus:outline-4 focus:text-tron" style="color: oklch(88.716% 0.09711 208.766);">Videos</a>
                        <a href="/stream/" class="m-2 p-5 rounded-xl hover:bg-black hover:text-white hover:outline-4 hover:outline-black focus:underline focus:outline-black focus:outline-4  focus:text-tron" style="color: oklch(88.716% 0.09711 208.766);">Stream</a>
                    </div>
                    {% comment %} Logo - Absolutely Centered {% endcomment %}
                    <div style="position: absolute; left: 50%; transform: translateX(-50%);">
                        <img src={%static './images/alt-cd-apple-touch-icon.png' %} class="w-20 h-20 animate-spin-slow">
                    </div>
                    {% comment %} Login - Right Side {% endcomment %}
                    <div class="flex justify-end">
                        <a href="/login" class="m-2 p-5 rounded-xl hover:bg-black hover:text-white hover:outline-4 hover:outline-black focus:underline focus:outline-black focus:outline-4 focus:text-tron" style="color: oklch(88.716% 0.09711 208.766);">Login</a>
                    </div>
                </div>
            </div>
        </div>

        <div id="content">
            {%block content%}
            {%endblock%}
        </div>
    </div>
</body>
</html>